body{
   background-color: white;
   font-family: sans-serif;
}

h1{
    color:red
    
}
.option{ 
    width: 190px; 
    margin: 10px 50px 10px auto; 
}
a {
    
    color:blue;
    text-decoration-line:none;
    width:75px;
    margin: 0px 10px;
    
}
.name{
    margin: 30px auto 30px auto ; 
    width: 450px;
}
input {
    color:black;
 
    text-align: left;
    font-size: 16px;
    border-style:hidden;
    mask-type: luminance;
    background-color: rgb(236, 238, 241);
    
}
form{
    margin: 50px auto 30px auto;
    width: 500px;  
    font-size: 14px;
}
label{
    display:inline-block;
    margin: 10px 60px;
    width: 300px;
    font-size: 18px;
}
#adv{
    margin: 50px 150px;
    width: 800px; 
}

