body{
   background-color: white;
   font-family: sans-serif;
   min-width: 600px;
}

h1{
    color:red
    
}
.option{ 
    width: 185px; 
    position:absolute;top: 30px; right: 50px;
    padding: 30px 50px 0px auto;
    font-size: 110%;
}
a {
    
    color:blue;
    text-decoration-line:none;
    margin: 0px 10px 0px auto;
    }
.name{
    margin: 60px auto 30px auto ; 
    width: 50%;
}
input {
    color:black;
    text-align: left;
    font-size: 100%;
    border-style:hidden;
    background-color: rgb(242, 244, 247);
    
}
form{
    margin: 50px 25% 30px 25%;
    width: 50%;  
    font-size: 100%;
}
label{
    display:inline-block;
    margin: 10px 10%;
    width: 30%;
    font-size: 110%;
}
#adv{
    margin: 200px 5% ;
    width: 90%;
}
.avanzado{
    position:absolute;
    top:50px;
    left:50px;
    margin: 10px 10px 10px 10px;
    width: 80%;
}
.buscar{
    width: 300px;
    margin:20px auto 20px auto ;
}
