body{
   background-color: white;
   font-family: sans-serif;
   min-width: 500px;
}

h1{
    color:red
    
}
.option{ 
    width: 190px; 
    margin: 10px 4% 10px 65%; 
}
a {
    
    color:blue;
    text-decoration-line:none;
    margin: 0px 10px 0px auto;
    
}
.name{
    margin: 30px auto 30px auto ; 
    width: 50%;
}
input {
    color:black;
    text-align: left;
    font-size: 100%;
    border-style:hidden;
    border-color: white;
    background-color: rgb(236, 238, 241);
    
}
form{
    margin: 50px 25% 30px 25%;
    width: 50%;  
    font-size: 100%;
}
label{
    display:inline-block;
    margin: 10px 60px 10px 0px;
    width: 300px;
    font-size: 100%;
}
#adv{
    margin: 50px 150px;
    width: 800px; 
}
.vts{
    font-size: 80%;
    margin: 0px 10% 0px 70%;
}
.bcg{
    width: 70px;

    margin: 20px 37% 20px 37%
}
